@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    } // Less than 600px
  }

  @if $breakpoint == tablet {
    @media only screen and (max-width: 68.75em) {
      @content;
    } // 600 - 1100
  }

  @if $breakpoint == big-desktop {
    //  1800px +
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  }
}

/* Media Queries
0 - 600:          Phone (37.5em)
600 - 1100px:     Tablet (68.75em)
(1100 - 1800px):  Normal styles apply
1800px +:         Big desktop

1em = 16px
*/
